<div class="col-12">
  <div class="col-12 mt-5" id="TituloContato">
    <h1 class="text-center">Contatos</h1>
    <h4 class="text-center">Aqui você poderá deixar seu email para entrarmos em contato</h4>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12">
    <nav class="navbar navbar-light bg-dark">
      <form class="form-inline">
        <div class="input-group">
          <input [(ngModel)]="nomeDigitado" name="nome" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@exemplo.com</span>
          </div>
          <button class="btn my-2 my-sm-0 ml-2 bg-info"  type="button" (click)="inserirEmail()">Adicionar</button>
        </div>
      </form>
      <div class="col-12 bg-dark">
        <div *ngIf="emails.length == 0">
          <p class="text-white">Ainda nao foi inserido nenhum email</p>
        </div>
        <h3 class="display-5 text-white">Email's cadastrados: {{ emails.length }}</h3>
        <div class="" *ngFor="let email of emails">
          <p class="text-white">{{ email.name }}@exemplo.com</p>
        </div>
      </div>
    </nav>
  </div>
</div>
<footer class="col-12">
  <app-footer></app-footer>
</footer>
