<div class="row" routerLink="github">
  <div class="col-12">
    <h1 class="text-center m-5">Algumas informações sobre meu github </h1>
  </div>
  <div class="card col-12 p-0 m-2">
    <img class="card-img-top p-0" src="https://dkrn4sk0rn31v.cloudfront.net/2019/02/01142244/GitHub.png" alt="Card image">
    <div class="card-body">
      <h2 class="card-title text-center">Meu github</h2>
      <p class="card-text text-center"> Uso o meu github no momento para as atividades de programação que realizo.</p>
      <a href="https://github.com/WilliamOliveira1"><button class="col-12 btn btn-primary">Click para ir para meu github</button></a>
    </div>
  </div>
</div>
