<div class="row">
  <div class="col-12">
    <h1 class="text-center m-5">Padawan de desenvolvimento front-end</h1>
  </div>
  <div class="col-12">
    <h2 class="text-center">Atividade do treinamento padawam</h2>
    <p>
      Bem Vindo ao meu projeto de portifolio, este portifólio irá ser atualizado no futuro. Mas sinta-se livre para ver as informações que ja constam em meu portifólio como meu github e informações sobre as linguagens de programação que conheço.
    </p>
  </div>
</div>
<footer class="col-12 fixed-bottom">
  <app-footer></app-footer>
</footer>

