<div class="row">
  <div class="col-12">
    <h1 class="text-center m-5">Padawan de desenvolvimento front-end</h1>
  </div>
  <div class="card col-6">
    <h2 class="text-center">Coluna 1</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam rhoncus ultricies placerat. Proin eu malesuada mauris. Aenean neque urna, facilisis a neque id,
      convallis blandit dolor. Morbi in eros tristique, sagittis enim sit amet, tempor velit. Mauris est dui, venenatis quis tincidunt ut, aliquet eget tellus. Integer
      tellus justo, cursus vitae dignissim quis, mollis et arcu. Sed commodo non mauris ac pellentesque. Nullam nulla ex, volutpat nec varius non, lobortis id ligula.
      Vestibulum commodo accumsan lacinia. Aenean finibus quam id feugiat ultrices. Nam lobortis sem et condimentum venenatis. Donec congue justo porta, scelerisque neque eget,
      vehicula nulla. Etiam aliquet ipsum augue.
      Praesent vitae consequat ipsum. In semper ex sit amet sapien tempus iaculis. Nulla facilisi.
      Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi nibh massa,
      dignissim eget lectus quis, congue condimentum leo. Donec feugiat magna vitae velit posuere vulputate. Proin nec massa sit amet sapien
      fringilla ullamcorper at vel risus. Fusce tortor ante, laoreet eget tellus at, lacinia porta dolor.
    </p>
  </div>
  <div class="card col-6">
    <h2 class="text-center">Coluna 2</h2>
    <p>
      Nam imperdiet nulla nec dignissim efficitur. Sed vel arcu vitae massa tristique porta. Nam vel interdum neque, et fringilla mauris. Suspendisse ullamcorper maximus elit non sagittis.
      Nulla tristique sodales eleifend. Etiam efficitur, elit vitae tempus posuere, nunc quam malesuada velit, in congue purus nisl a elit. Ut dignissim elementum fringilla.
      Nullam in tincidunt ligula, et tincidunt mi. Suspendisse non eros cursus, molestie lectus et, rhoncus ipsum. Integer sed venenatis augue, eu gravida nunc.
      Aenean a elit vel nibh accumsan ultricies. Sed id velit porta, aliquet nisi placerat, convallis sem. Aenean interdum pellentesque eros, et ullamcorper nisi convallis vulputate.
      Pellentesque in eleifend sem. Sed leo purus, porttitor ut nisi quis, laoreet tristique sem. Mauris consequat purus et ipsum volutpat suscipit. Morbi dui lorem, dictum in diam id,
      stempus hendrerit tellus. Vivamus ac tortor ut nulla fringilla rhoncus sit amet sed nibh. Maecenas congue eros a lacus consequat ultrices. Vestibulum quis placerat orci.
    </p>
  </div>
</div>

